<% unless begin_button %>
  <%= form_with url: "/lab/test/#{@test.id}", method: :post do |form| %>
    <div class="flex-row">
      <div class="text-field">
        <%= form.text_field :word, autofocus: true, autocomplete: "off", list:'data-list' %>
        <datalist id="data-list">
          <% ::TestData.fetch_words(stage).each do |w| %>
            <option value="<%= w %>"></option>
          <% end %>
        </datalist>
        <%= form.hidden_field :stage, value: stage %>
      </div>
      <div class="primary">
        <%= form.submit "Add word" %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_with url: "/lab/test/#{@test.id}", method: :post do |form| %>
    <%= form.hidden_field :word, value: "" %>
    <%= form.hidden_field :stage, value: stage %>
    <%= form.submit "Begin Stage" %>
  <% end %>
<% end %>
