<% unless begin_button %>
  <%= form_with url: "/lab/test/#{@test.id}", method: :post do |form| %>
    <div class="flex-row">
      <div class="text-field">
        <% if stage == 'animal' %>
          <%= form.text_field :word, autofocus: true, list:'animal-list' %>
          <datalist id="animal-list">
            <% ::TestData.animal.each do |animal| %>
              <option value="<%= animal %>"></option>
            <% end %>
          </datalist>
        <% else %>
          <%= form.text_field :word, autofocus: true %>
        <% end%>
        <%= form.hidden_field :stage, value: stage %>
      </div>
      <div class="primary">
        <%= form.submit "Add word" %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_with url: "/lab/test/#{@test.id}", method: :post do |form| %>
    <%= form.hidden_field :word, value: "" %>
    <%= form.hidden_field :stage, value: stage %>
    <%= form.submit "Begin Stage" %>
  <% end %>
<% end %>
