<% if @test.completed? %>
    <p> Test completed</p>
<% else %>
    <%= turbo_frame_tag :fluency_form do %>
        <div>
            <h1>auditory Test. Stage <%= @test.current_stage_number %> of <%= @test.num_stages %>
            
            <span> <%= render partial: "tests/next_stage_auditory_test",
                              :locals => { :stage => @test.current_stage } %></span></h1>
            
            <h2>
                Patient instructions: 
                <span><%= @test.instructions %></span>
            </h2>
            <div class="flex-row">
                <div class="multiline-flex" style="width: 65vw;">
                    <%= render partial: "tests/words_auditory_test",
                               :locals => {
                                 :styling => "primary",
                                 :stage => @test.current_stage,
                                 :words => @test.primary_words,
                               } %>
                    <% if @test.secondary_words %>
                        <br>

                        <%= render partial: "tests/words_auditory_test",
                                   :locals => {
                                     :styling => "secondary",
                                     :stage => @test.current_stage,
                                     :words => @test.secondary_words,
                                   } %>
                    <% end %>
                    
                </div>

                <div class="multicol-flex">
                    <% @test.current_list && @test.current_list.reverse.each do |item| %>
                        <div class="row-entry">
                            <p> 
                                <%= item %> 
                            </p>
                            <%= render partial: "tests/delete_entry_auditory_test",
                                       :locals => { :stage => @test.current_stage, :word => item } %>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
    <% end %>
<% end %>