<div class="card">
  <% if @test.completed? %>
    <p> test completed</p>
  <% else %>
    <div>
      <%= turbo_frame_tag :fluency_form do %>
        <div>
          <h1 class="center">Benton Verbal Fluency Test</h1>
          <h2 class="center">
            Stage <span><%= @test.current_stage_number%></span> of 3 
          </h2>
          <h3 class="center"><%= @test.instructions %></h3>
          <% if @test.curr_stage_start_time %>
            <h3> Time remaining: 
              <span id="timer">
                <%= @test.curr_stage_time_left %>
              </span> seconds</h3>
            <%= render partial: "tests/fluency/add_entry",
                           :locals => { :stage => @test.current_stage, :begin_button => false } %>
            <% if @test.current_list.present? %>
              <h3> You've already said: (click word to undo)</h3>
              <div class="multiline-flex">
                <% @test.current_list.reverse.each do |item| %>
                  <div class="delete">
                    <%= render partial: "tests/fluency/delete_entry",
                                       :locals => { :stage => @test.current_stage, :word => item } %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="begin">
              <%= render partial: "tests/fluency/add_entry",
                        :locals => { :stage => @test.current_stage, :begin_button => true } %>
            </div>
          <% end %>
          <script>
            if (document.getElementById('timer')) {
              let ts = new Date(Date.parse('<%= @test.curr_stage_start_time %>'));
              ts.setMinutes(ts.getMinutes()+1);
              setInterval(() => {
                let timer = document.getElementById('timer');
                let secondsLeft = Math.round((ts - new Date()) / 1000);
                if (secondsLeft < 0){
                  window.location.reload();
                } else {
                  timer.textContent = secondsLeft;
                }
              }, 100);
            }
          </script>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
