<%= turbo_frame_tag :trail_test do %>
  <div class="card">
    <% if @test.completed? %>
      <p> test completed</p>
    <% else %>
      <div>
        <div class="flex-column">
          <h1 class="center">Trail Making Test</h1>
          <h2 class="center">
            Stage <%= @test.current_stage.upcase %>
          </h2>
          <a href="https://www.center-tbi.eu/files/approved-translations/English/ENGLISH_TMT.pdf">
            Click here to learn how to administer the test (credit to Center for Traumatic Brain Injury in Antwerp)
          </a>
          <% if @test.curr_stage_start_time %>
            <p>
              <span id="timer">
                <%= (Time.now - @test.curr_stage_start_time.to_time).round %>
              </span>
              seconds
            </p>
            <div class="begin">
              <%= render partial: "tests/auditory/next_stage", :locals => {:stage => @test.current_stage }%>
            </div>
          <% else %>
            <div class="begin">
              <%= render partial: 'tests/fluency/add_entry',            
                  :locals => { :stage => @test.current_stage, :begin_button => true } %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <script>
    let ts = new Date(Date.parse('<%= @test.curr_stage_start_time %>'));
    setInterval(() => {
      let timer = document.getElementById('timer');
      if (timer) {
        let secondsLeft = Math.round((new Date() - ts) / 1000);
        timer.textContent = secondsLeft;
      }
    }, 100);
  </script>
<% end %>
