
<div class="card">
  <p><%= @title %></p>
  <%= form_with url: "/lab/begin", method: :post do |form| %>
    <div class="form-container">
      <div>
        <%= form.label :age, "Age:" %>
        <%= form.number_field :age, in: (1..100), step: 1 %>
      </div>
      <div>
        <%= form.label :gender, "Gender:" %>
        <%= form.select :gender, ["Man", "Woman", "Non-binary"] %>
        <%= form.select :education, @education_levels %>

      </div>
    <%= form.hidden_field :key, value: params.require(:key) %>
      <div>
        <%= form.submit "Begin Test" %>
      </div>
    </div>
  <% end %>
</div>