
<div class="card">
  <p><%= @title %></p>
  <%= form_with url: "/lab/begin", method: :post do |form| %>
    <div class="flex-column">
      <div>
        <%= form.label :age, "Age:" %>
        <%= form.number_field :age, in: (1..100), step: 1 %>
      </div>
      <div>
        <%= form.label :gender, "Gender:" %>
        <%= form.select :gender, ["Man", "Woman", "Non-binary"] %>
      </div>
      <div>
         <%= form.label :education, "Level of education:" %>
        <%= form.select :education, @education_levels %>
      </div>
      <% if params.require(:key) == "fluency" %>
      <div>
        <p> Test Variant:</p>
        <%= form.radio_button :variant, "animal", :checked => true %>
        <%= form.label :variant_animal, "Animals" %>
        <%= form.radio_button :variant, "supermarket" %>
        <%= form.label :variant_supermarket, "Supermarket" %>

      </div>
      <% end %>
    <%= form.hidden_field :key, value: params.require(:key) %>
      <div>
        <%= form.submit "Begin Test" %>
      </div>
    </div>
  <% end %>
</div>