
<div class="card">
  <%= form_with url: "/lab/begin", method: :post do |form| %>
    <%= form.label :age, "Age:" %>
    <%= form.number_field :age, in: (1..100), step: 1 %>
    <%= form.label :gender, "Gender:" %>
    <%= form.select :gender, ["Man", "Woman", "Non-binary"] %>
    <%= form.hidden_field :key, value: params.require(:key) %>
    <%= form.submit "Begin Test" %>
  <% end %>
</div>